/*MAIN SETTINGS*/

@font-face {
    font-family: 'Georgia';
    src: url(./fonts/georgia.ttf);
}

*{
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Georgia';
}

body{
    background: url(./images/background/noise_transparent.png), linear-gradient(0deg, #5B483A, #262425);
    width: 100%;
}


/*HEADER AND STARTSCREEN*/
.container{
    max-width: 1280px;
    text-align: center;
    margin: 0 auto;
}

.start__screen{
    height: 100%;
    max-height: 908px;
    height: 908px;
    position: relative;
}

.header{
    position: relative;
    width: 1200px;
    height: 60px;
    top: 30px;
    left: 40px;
    display: flex;
}

.header__title h1{
    font-weight: 400;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-align: left;
}

.header__subtitle{
    position: absolute;
    top: 45px;
    left: 4px;
}

.header__link p{
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FFFFFF;
}

.header__nav__menu{
    position: absolute;
    top: 21.2px;
    left: 757px;
    width: 443px;
    height: 27px;
}

.header__list{
    display: flex;
    justify-content: space-between;
}

.header__link a p{
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    color: #CDCDCD;
}

.link__active{
    width: 114px;
    height: 19px;
    color: #FAFAFA;
    border-bottom: 3px #F1CDB3 solid;
}


.start__screen_content{
    position: relative;
    width: 1203px;
    height: 728px;
    top: 120px;
    margin: 0px 40px;
    display: flex;
}

.content{
    width: 460px;
    height: 322px;
    margin-top: 163px;
    margin-right: 42px;
}

.content__heading{
    width: 310px;
    height: 114px;
}

.content__heading h2{
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    text-align: left;
}

.content__subheading{
    width: 460px;
    height: 72px;
    margin-top: 42px;
}

.content__subheading p{
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #CDCDCD;
}

.button_primary{
    text-align: left;
    margin-top: 42px;
}
.button_primary button{
    width: 207px;
    height: 52px;
    border: 1px solid #F1CDB3;
    border-radius: 100px;
    background: #F1CDB3;
}

.button_primary button p{
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    color: #292929;
}


/*About*/
.main{
    width: 100%;
}
.about__wrapper{
    width: 100%;
    background: #FFFFFF;
    height: 588px;
}

.about{
    margin: 0 auto;
    text-align: center;
    width: 1280px;
    height: 100%;
}

.about__content{
    display: flex;
}

.about__pets{
    margin-left: 214.9px;
    margin-top: 80px;
}

.about__info{
    width: 430px;
    height: 380px;
}

.about__heading{
    margin-left: 120px;
    margin-top: 94px;
}
.about__heading h2{
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #545454;
}

.about__subheading{
    margin-top: 25px;
    margin-left: 120px;
    width: 430px;
}

.about__subheading p{
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #4C4C4C;
}